{% load static %}

<!DOCTYPE html>
<html>
  <div class="header">
    <a href="{% url 'signup:signup' %}" class="logo" style="float: right">Sign Up</a>
    <div class="header-left">
      <a href="{% url 'home:index' %}">Home</a>
      <a href=#>News</a>
    </div>
  </div>
</html>
