{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

	<link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>

	<link href="{% static 'css/stylehome.css' %}" rel="stylesheet" type="text/css">

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>	

<body class="container-fluid" style="padding: 0px;">

	<!-- reuse navbar -->
 	<header style="margin: 0px">
 		{% include "navbar.html" %}
 	</header>

 	{% block content %}
	

	<div class = "container p-5" style="max-width: 500px">
		<h3 style="font-family: 'Ubuntu'; text-align: center;">Sign Up</h3>
		<form method="POST">
			{% csrf_token %}
			{{ bang|crispy }}
			<br>
			<button type="submit" class="btn btn-primary" style="background-color: #43C6E5; border-color: #43C6E5;">Submit</button>
		</form>
		<br>

	</div>


	

	{% endblock %}
</body>


</html>
