<!DOCTYPE html>
<html lang="en">
{% load static from staticfiles %}
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}My Website{% endblock %}</title>

        <!-- Custom styles for this template -->
        
        <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>
        <link href="{% static 'css/stylehome.css' %}" rel="stylesheet" type="text/css">        
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/article-style.css' %}" rel="stylesheet">     
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />

        
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
        <script src="main.js"></script>

        <!-- Materialize CSS -->
            <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        
        

    </head>

    <body>        
        <header>
            {% include "navbar.html" %}
        </header>
        
        
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
        
        <footer>
        </footer>
        
    </body>
    
</html>