{% extends 'base.html' %}
{% load static from staticfiles %}


    <div class="bg" style="padding-bottom: 500px">
		<div style="padding-left:20px;">
	<link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />

	<link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>
	
	<link href="{% static 'css/stylehome.css' %}" rel="stylesheet" type="text/css">
    
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tugas 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	  // Add smooth scrolling to all links
	  $("a").on('click', function(event) {

	    // Make sure this.hash has a value before overriding default behavior
	    if (this.hash !== "") {
	      // Prevent default anchor click behavior
	      event.preventDefault();

	      // Store hash
	      var hash = this.hash;

	      // Using jQuery's animate() method to add smooth page scroll
	      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
	      $('html, body').animate({
	        scrollTop: $(hash).offset().top
	      }, 800, function(){
	   
	        // Add hash (#) to URL when done scrolling (default click behavior)
	        window.location.hash = hash;
	      });
	    } // End if
	  });
	});
	</script>

    <style type="text/css">
    * {
    box-sizing: border-box;
	}

	a{
		font-family: 'Ubuntu';
	}


	/* CSS WHat We Do Create three equal columns that floats next to each other */
	.columnDonate {
	    float: left;
	    width: 33.33%;
	    height: 300px; /* Should be removed. Only for demonstration */
	    padding: 10px
	}

	/* Clear floats after the columns */
	.row:after {
	    content: "";
	    display: table;
	    clear: both;
	    text-align: center;
	}

	/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
	@media screen and (max-width: 600px) {
	    .columnDonate {
	        width: 100%;
	    }
	}
    </style>

</head>

<body>
	{% block content %}
    <div class="bg" style="padding-bottom: 500px">
		<div>
			<p style="color: #47525E; text-align: center; padding-top: 30px; font-family: 'Karla'; font-size: 20px">Yayasan Sinar Perak</p> 
			<h1 style="font-family: 'Bree Serif'; text-align: center;">Give a little. Change lot</h1>
			<div class="container" style="max-width: 150px;">
				<a class="button" href="#section2" type="submit" style="text-align: center; width: 120px">Learn more</a></div>
		</div>
	</div>


	<div class="main" id="section2"><section>
		<h1 style="padding-top: 50px; padding-bottom: 30px; text-align:center; font-family: 'Ubuntu'">About Us</h1>
		<div class="row" style="max-width: 800px; margin: auto;" >	
			<div class="columntxt" style="padding-right: 25px">
				<p>Lorem ipsum dolor sit amet, consectetur adipi elit. Cras mollis ligula mauris, vitae porttitor nunc maximus Integer fringilla place acLorem ipsum dolor sit amet, consectetur adipiscing elit.  
				Lorem ipsum dolor sit amet, consectetur adipi elit. Cras mollis ligula mauris, vitae porttitor nunc maximus Integer fringilla place acLorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p>Etiam ut erat et nisi pulvinar accumsan. Curabitur imperdiet at sem vel elementum.</p>
			</div>
			<div class="columntxt">
				<img src="https://marvel-live.freetls.fastly.net/canvas/2018/10/5d0b0d929ceb4946a6561a84cd1be213?quality=95&fake=.png" alt="SinarPerak" style="float:center; width: 100%;">	
			</div>
		</div>
	</section></div>


	<div class="main" id="section3">
  	<section>
	<h2 style="font-family: 'Ubuntu'; text-align: center; padding-top: 50px; padding-bottom: 20px; margin: auto; ">What We Do</h2>
	<p style="text-align: center; padding-left: 200px; padding-right: 200px;">We create events aiming to pear to the voice for children and gather for support. 
	Please update with our events and confirm you presence.</p>

	<div class="row" style="text-align: center; padding-left: 150px; padding-right: 150px">
	  <div class="columnDonate" >
	  	<img src="https://marvel-live.freetls.fastly.net/canvas/2018/10/d1c335fbb86d439f9e108079b6468706?quality=95&fake=.png" alt="Education" style="float:center; width: 200px; height: 200px;">
	    <h4>Donate For Education</h2>
	    <p>Some text..</p>
	  </div>
	  <div class="columnDonate" style="background-color:white;">
	  	<img src="https://marvel-live.freetls.fastly.net/canvas/2018/10/09516ff81268487186e847b6a52110f3?quality=95&fake=.png" alt="Food" style="float:center; width: 200px; height: 200px;">
	    <h4>Donate For Food</h2>
	    <p>Some text..</p>
	  </div>
	  <div class="columnDonate" style="background-color:white;">
	  	<img src="https://marvel-live.freetls.fastly.net/canvas/2018/10/f5f910f705074b9f869f1e37654f6341?quality=95&fake=.png" alt="Water" style="float:center; width: 200px; height: 200px;">
	    <h4>Donate For Water</h2>
	    <p>Some text..</p>
	  </div>

	 	<div class="container" style="max-width: 400px">
	  	<a href="{% url 'signup:signup' %}" type="submit" class="button" style="font-family: 'Ubuntu'; color: white; background-color: #43C6E5; border-style: none; padding: 10px; margin-top: 50px; margin-bottom: 50px; width: 200px">Join us today!</a>
	  	</div>
	 	

	</div>
	</section></div>



</body>
</html>
{% endblock %}
