{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <div class="header">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <a href="{% url 'signup:signup' %}" class="logo" style="float: right">Sign Up</a>
    <div class="header-left">
      <a href="{% url 'home:index' %}">Home</a>
      <a href="{% url 'news:index' %}">News</a>
    </div>
  </div>
</html>
