<!DOCTYPE html>
{% extends "base.html" %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Test{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />-->
                  
    <script src="main.js"></script>
</head>
<body>
    {% block content %}
    <a class="waves-effect waves-light btn teal lighten-2" href="{% url 'donate:show_form' %}">button</a>
    <table class="table">
            <thead>
                <th>Name</th>
                <th>Location</th>
                <th>Category</th>
                <th>Event Date</th>
            </thead>
            <!--
<tbody>
                {% for i in result %}
                <tr>
                    <td> {{i.name}} </td>
                    <td> {{i.place}} </td>
                    <td> {{i.category}} </td>
                    <td> {{i.date}} </td>
                </tr>
                {% endfor %}
            </tbody>
            -->
            
        </table>
    {% endblock %}
</body>
</html>