* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Ubuntu;
}

.header {
  overflow: hidden;
  background-color: #41D2F5;
  padding: 10px 10px;
  font-family: Karla;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-family: Karla;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: #b2ebf2;
  color: white;
}

.header-left {
  float: left;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.bg {
  /* The image used */
  background-image: url("https://marvel-live.freetls.fastly.net/canvas/2018/10/d9fc1fb371024e928cc46833c9573996?quality=95&fake=.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
  opacity: 0.94
  font-family:'Ubuntu';
}

.button {
  background-color: #43C6E5; 
  color: #FFFFFF; 
  padding: 8px; 
  float: center; 
  text-align: center; 
  cursor: pointer; 
  font-family: 'Ubuntu'; 
  border: none;
  outline: 0;
  margin: auto;

 }

.content{
  max-width: 800px
}  

.columntxt{
    float: left;
    width: 50%;
    flex-wrap: wrap;
    content: auto;
    max-width: 800px
}

* {
    box-sizing: border-box;
}

/* CSS WHat We Do Create three equal columns that floats next to each other */
.columnDonate {
    float: left;
    width: 33.33%;
    padding: 5px;
    height: 300px; /* Should be removed. Only for demonstration */
 
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    max-width: 800px
    margin: auto;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .columnDonate {
        width: 100%;
    }
}