.add_margin{
    margin-bottom: 8px;
}

form {
    width: 530px;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 100px;
    background-color: #FFFFFF;
}  

.nama_project {
    font-family: verdana;
    font-size: 25px;
}