.article-project-card{
    margin-right: 18px !important;
    overflow: hidden !important;
    width: 45%;
    margin-bottom: 20px !important;
}

.card .hovereffect img{
    width:200%;
    height:200%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.News-Header{
    font-size: 75px;
}

.article-img{
    max-width: 350px !important;
}

.card-carousel-container{
    margin-top: 50px;
    min-height: 550px;
}

.carousel-control-prev{
    top: 35% !important;
    height: 100px;
}

.carousel-control-prev-icon{
    height: 100px !important;
    width: 100px !important;
}

.carousel-control-next{
    top: 35% !important;
    height: 100px;
}

.carousel-control-next-icon{
    height: 100px !important;
    width: 100px !important;
}

.card-body{
    min-height:200px;
}

.carousel-image {
    height:670px !important;
    background-color:#FFFFFF;
    overflow: hidden;
}

.carousel-image img {
    height:100%;
}

.card-image-edit{
    height:250px !important;
}

.carousel-head-article a {
    text-decoration: none;
    color: white;
}

.carousel-head-article a:hover {
    text-decoration: none;
    color: lightgrey;
}

.carousel-head-article p{
    text-align: center !important;
}

.article-wrapper {
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 70px;
    overflow: hidden;
}

.article-project-card {
    float: left;
    margin: 0;
    padding: 5px !important;
    margin-right: 8.333333%;
}

.article-news {
    padding: 0 !important;
}

.card-img-top {
    height: 200px;
}

.card-wrapper {
    margin-top: 85px;
    margin-bottom: 85px;
}

.card-button {
    margin-top: 10px;
}

.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

@media only screen and (max-width: 1000px) {
    .card-text{
        display: none;
    }
    .card-body{
        min-height:0px;
    }
    .article-project-card{
        margin-right: 0;
        width: 80% !important;
    }
    .card-carousel-container{
        min-height: 450px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .carousel-image {
        height:500px;
    }
    .article-project-card{
        margin-right: 5%;
        width: 45% !important;
    }
    .card-image-edit{
        height: 350px !important;
    }
    .hide-text{
        display: none;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .carousel-image {
        height:300px;
    }
    .card-image-edit{
        height: 250px !important;
    }
    .article-project-card{
        margin: 0;
        margin-bottom: 30px;
        width: 100% !important;
    }
} 