{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<style>
    @media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
</style>
<!-- Page Content -->

<div class="container-fluid card-carousel-container {{ carousel_display }}">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row w-100 mx-auto">
      <div class="carousel-item carousel-item col-md-4 active">
        <div class="card">
            <div class="hovereffect">
                <img class="card-img-top img-fluid card-image-edit" src="{{ first_project.get_image }}" alt="Card image cap">
            </div>
          <div class="card-body">
            <h4 class="card-title">{{ first_project.title }}</h4>
            <p class="card-text">{{ first_project.text|safe|truncatewords:15 }}</p>
              <a href="#"><button type="button" class="float-right btn btn-primary card-button">donate</button></a>
          </div>
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="mb-2">raised {{ first_project.current_donation }} of {{ first_project.max_donation }}</p>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ first_project.percentage }}%" aria-valuenow="{{ first_project.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
            </ul>
        </div>
      </div>
        
        {% for project in projects %}
        <div class="carousel-item carousel-item col-md-4">
        <div class="card">
            <div class="hovereffect">
                <img class="card-img-top img-fluid card-image-edit" src="{{ project.get_image }}" alt="Card image cap">
            </div>
          <div class="card-body">
            <h4 class="card-title">{{ project.title }}</h4>
            <p class="card-text">{{ project.text|safe|truncatewords:15 }}</p>
              <a href="#"><button type="button" class="float-right btn btn-primary card-button">donate</button></a>
          </div>
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="mb-2">raised {{ project.current_donation }} of {{ project.max_donation }}</p>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ project.percentage }}%" aria-valuenow="{{ project.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
            </ul>
        </div>
      </div>
        {% endfor %}
    </div>
      
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" style="background-image: url('{% static 'img\prev.png' %}')" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" style="background-image: url('{% static 'img\next.png' %}')" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Card Wider -->
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        {% for project in unmoving_projects %}
        <div class="col-auto mb-3">
            <div class="card " style="width: 18rem;">
                <div class="hovereffect">
                    <img class="card-img-top img-fluid card-image-edit" src="{{ project.get_image }}" alt="Card image cap">
                </div>
                <div class="card-body pb-2">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.text|safe|truncatewords:15 }}</p>
                    <a href="#" class="card-link"><button type="button" class="mt-0 float-right btn btn-primary card-button">donate</button></a>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item pt-1">
                    <p class="mb-2">raised {{ project.current_donation }} of {{ project.max_donation }}</p>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ project.percentage }}%" aria-valuenow="{{ project.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
            </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Card Wider -->

      <!--<div class="card-group col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid card-image-edit" src="{{ project.get_image }}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{ project.title }}</h4>
            <p class="card-text">{{ project.text|safe|truncatewords:15 }}</p>
              <a href="#"><button type="button" class="float-right btn btn-primary card-button">donate</button></a>
          </div>
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="mb-2">raised {{ project.current_donation }} of {{ project.max_donation }}</p>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ project.percentage }}%" aria-valuenow="{{ project.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
            </ul>
        </div>
      </div>-->

<div class="article-wrapper">
    <div class="article-news col-md-12 float-left">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">{{ article.title }}</h1>
        <h3>
            <small>by
                <a href="#">{{ article.author }}</a>
            </small>
        </h3>

        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-12">
                <!-- Preview Image -->
                <img class="img-fluid rounded" src="{{ article.get_image }}" alt="image-{{ article.title }}">

                <hr>

                <!-- Date/Time -->
                <p>Posted on {{ article.date }}</p>

                <hr>

                <!-- Post Content -->
                <div class="col-md-12 float-left">
                    <p class="lead">{{ article.text|safe }}</p>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
<!-- /.container -->
<script>
    $(document).ready(function() {
      $("#myCarousel").on("slide.bs.carousel", function(e) {
        var $e = $(e.relatedTarget);
        var idx = $e.index();
        var itemsPerSlide = 3;
        var totalItems = $(".carousel-item").length;

        if (idx >= totalItems - (itemsPerSlide - 1)) {
          var it = itemsPerSlide - (totalItems - idx);
          for (var i = 0; i < it; i++) {
            // append slides to end
            if (e.direction == "left") {
              $(".carousel-item")
                .eq(i)
                .appendTo(".carousel-inner");
            } else {
              $(".carousel-item")
                .eq(0)
                .appendTo($(this).find(".carousel-inner"));
            }
          }
        }
      });
    });
</script>
{% endblock %}