{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<header>
    <h3 class="text-center News-Header">News</h3>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            {% for range in top_article_range %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ range }}"></li>
            {% endfor %}
        </ol>

        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="carousel-image">
                    <img class="d-block w-100 img-fluid" src="{{ first_article.get_image }}" alt="image-{{ first_article.title }}">
                </div>
                <div class="carousel-caption d-md-block carousel-head-article">
                    <h1><a href="{% url 'generate_article_page' pk=first_article.pk %}">{{ first_article.title }}</a></h1>
                    <div class="hide-text">{{ first_article.text|safe|truncatewords:70 }}</div>
                </div>
            </div>

            {% for article in top_article %}
            <div class="carousel-item">
                <div class="carousel-image">               
                    <img class="d-block w-100" src="{{ article.get_image }}" alt="image-{{ article.title }}">
                </div>
                <div class="carousel-caption d-md-block carousel-head-article">
                    <h1><a href="{% url 'generate_article_page' pk=article.pk %}">{{ article.title }}</a></h1>
                    <div class="carousel-description">{{ article.text|safe|truncatewords:70 }}</div>
                </div>
            </div>
            {% endfor %}
            
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- SECTION -->
		<div class="section">
			<!-- CONTAINER -->
			<div class="container">
				<!-- ROW -->
				<div class="row">
					<!-- Main Column -->
					<div class="col-md-12">
						<!-- section title -->
						<div class="section-title">
							<h2 class="title">News Posts</h2>
						</div>
						<!-- /section title -->
                        
                        <!-- ARTICLE -->
                        {% for article in all_article %}
						<article class="article row-article">
							<div class="article-img">
								<a href="#">
									<img src="{{ article.get_image }}" alt="image-{{ article.title }}">
								</a>
							</div>
							<div class="article-body">
								<ul class="article-info">
									<li class="article-category"><a>{{ article.category }}</a></li>
									<li class="article-type"><i class="fa"></i></li>
								</ul>
								<h3 class="article-title"><a class="article-title-a" href="{% url 'generate_article_page' pk=article.pk %}">{{ article.title }}</a></h3>
								<ul class="article-meta">
									<li class="timestamp">{{ article.date }}</li>
								</ul>
								{{ article.text|safe|truncatewords:90 }}
							</div>
						</article>
                        {% endfor %}
						<!-- /ARTICLE -->                        
					</div>
					<!-- /Main Column -->
				</div>
				<!-- /ROW -->
			</div>
			<!-- /CONTAINER -->
		</div>
		<!-- /SECTION -->

{% endblock %}
