{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Donate Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/donatepage.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:lightgray;">

<div class="container">
        <form id='form' method="POST" action="{% url 'Donate:adddonasi' %}">
            {% csrf_token %}
            <h1 class="nama_project">Donate to {{ project.title }}</h1>
            <div class="form-group">
            {% for field in form %}
            <div class="add_margin">
                {% if field.name == 'checkbox' %}
                    {{ field.as_widget }} <label>{{ 'I want donate anonymously' }}</label>
                {% else %}
                    {{ field.as_widget }}
                {% endif %}
            </div>
            {% endfor %}
            </div>
            <div class="col-12">
                <button id="button1" type="submit" class="btn btn-info btn-md col-md-5"><b>Confirm</b></button>
                <a class="col-md-2"></a>
                <button id="button2" type="cancel" class="btn btn-danger btn-md col-md-5"><a href="{% url 'index' %"><b>Cancel</b></a></button> 
            </div>
        </form>
    </div>
</div>
        
</body>
</html>
